{{> header }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Sage 200</h1>
        <p>Así es el login</p>
    </div>

    <div class="col-4">
        <img src="assets/images/screenshot369.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}